// Heading section
.section-heading {
  padding-top: 2.9375rem;
  position: relative;
}

.section-heading__left {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.left__left-inputs {
  margin-top: 4.3125rem;
}

.rectangle-gradient-maker {
  position: absolute;
  top: 13.875rem;
  height: 5.625rem;
  width: 100%;
  background: linear-gradient(
    180deg,
    #ffffff 72.7%,
    rgba(255, 255, 255, 0) 125.29%
  );
}

.fill-in-fields-below {
  position: absolute;
  @include d-flex;
  justify-content: space-between;
  height: $_33px;
  padding-top: $_24px;
  left: 0;
  top: -3.5rem;
  font-size: $_12px;
  line-height: $_14px;
  color: $danger-color;
  & svg {
    margin-top: $_5px;
    margin-left: $_5px;
  }
  &.hidden {
    display: none;
  }
}

.left-inputs__left-inputs-inner {
  position: relative;
}

.container-input {
  margin-bottom: $_18px;
  max-width: 100%;
  // @include easeOut;
  position: relative;
  // overflow-y: hidden;
  // padding: 0px 10px;
  // margin: 0px -10px;
}

.container-input--user-name {
  display: none;
  &.showed {
    display: block;
    animation-name: scaleYName;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes scaleYName {
      from {
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
      }
      to {
        height: 100%;
        transform: scaleY(1);
        transform-origin: top;
      }
    }
  }
}

.container-input__inner {
  position: relative;

  // @include easeOut;
  z-index: 2;
}

.input-select__arrow-down {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $secondary-color;
  height: 100%;
  // max-height: 2.6875rem;
  width: 43px;
  z-index: 2;
  border-radius: $_5px;
  @include d-flex;
  justify-content: center;
  align-items: center;
}

.container-input__inner-dropdown {
  // height: 0;
  // visibility: hidden;
  display: none;
  // opacity: 0;
  // transform: scaleY(0);
  // transform-origin: top;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.3125rem;

  // animation-name: testingAnimation23;
  // animation-duration: 0.5s;
  // // animation-delay: 0.5;
  // animation-fill-mode: forwards;
  // @keyframes testingAnimation23 {
  //   from {
  //     height: 100%;
  //     opacity: 1;
  //     transform: scaleY(1);
  //     transform-origin: top;
  //     // transform: translateY(0);
  //   }
  //   to {
  //     height: 0;
  //     opacity: 0;
  //     transform: scaleY(0);
  //     transform-origin: top;
  //     // transform: translateY(-100%);
  //     visibility: hidden;
  //   }
  // }

  &.show-dropdown {
    // z-index: -1;
    // height: 100%;
    // transform: scaleY(1);
    display: block;
    // opacity: 1;
    // visibility: visible;

    // animation-name: testingAnimation;
    // animation-duration: 0.4s;
    // animation-fill-mode: forwards;
    // @keyframes testingAnimation {
    //   from {
    //     height: 0;
    //     opacity: 0;
    //     transform: scaleY(0);
    //     transform-origin: top;
    //   }
    //   to {
    //     height: 100%;
    //     transform: scaleY(1);
    //     transform-origin: top;
    //   }
    // }

    // -webkit-animation: 2s linear 0s infinite normal shine;
    // animation: 2s linear 0s infinite normal shine;
  }
}

// #input-select-choose-programm-dropdown--step-two {
//   height: 0;
//   opacity: 0;
//   visibility: hidden;
//   width: 100%;
//   box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
//   border-radius: 0.3125rem;

//   // animation-name: testingAnimation23;
//   // animation-duration: 0.5s;
//   // animation-delay: 0.4s;
//   // animation-fill-mode: forwards;
//   // @keyframes testingAnimation23 {
//   //   from {
//   //     height: 100%;
//   //     opacity: 1;
//   //     transform: scaleY(1);
//   //     transform-origin: top;
//   //     // transform: translateY(0);
//   //   }
//   //   to {
//   //     height: 0;
//   //     opacity: 0;
//   //     transform: scaleY(0);
//   //     transform-origin: top;
//   //     // transform: translateY(-100%);
//   //     visibility: hidden;
//   //   }
//   // }

//   &.show-dropdown {
//     z-index: -1;
//     visibility: visible;

//     animation-name: testingAnimation22;
//     animation-duration: 0.4s;
//     animation-delay: 0.4s;
//     animation-fill-mode: forwards;
//     @keyframes testingAnimation22 {
//       from {
//         height: 0;
//         opacity: 0;
//         transform: scaleY(0);
//         transform-origin: top;
//       }
//       to {
//         height: 100%;
//         opacity: 1;
//         transform: scaleY(1);
//         transform-origin: top;
//       }
//     }
//   }
// }

.inner-dropdown__inner-dropdown-items {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  // animation-name: smoothlyAppear;
  // animation-duration: 1s;
  // @keyframes smoothlyAppear {
  //   from {
  //     margin-bottom: 0rem;
  //   }
  //   to {
  //     margin-bottom: 2rem;
  //   }
  // }
}

// #input-select-choose-programm-dropdown--step-two {
//   animation-name: testingAnimation3;
//   animation-duration: 0.5s;
//   animation-fill-mode: forwards;
//   @keyframes testingAnimation3 {
//     from {
//       // height: 0;
//       // opacity: 0;
//       transform: translateX(100%);
//     }
//     to {
//       // height: 100%;
//       // opacity: 1;
//       transform: translateX(0);
//     }
//   }
// }

.inner-dropdown-items__item {
  text-align: left;
  font-size: $_12px;
  line-height: $_14px;
  padding-top: $_14px;
  padding-bottom: $_14px;
  border-bottom: $_1px solid #efefef;
  @include d-flex;
  align-items: center;
  // justify-content: center;
  // animation-name: smoothlyAppear;
  // animation-duration: 1s;
  // @keyframes smoothlyAppear {
  //   from {
  //     margin-bottom: 0rem;
  //   }
  //   to {
  //     margin-bottom: 2rem;
  //   }
  // }

  & p {
    padding-left: $_22px;
    padding-right: 3.4375rem;
    @include d-flex;
    justify-content: center;
    align-items: center;
  }

  & p svg {
    margin-right: $_22px;
  }

  &.text-highlight--color svg path {
    fill: $secondary-color;
  }

  & p.text-highlight--color svg path {
    fill: $secondary-color;
  }
  &.text-highlight--color {
  }
}

.inner-dropdown-items__item--selected {
  background: $dropdown-item-selected-bg;
}

.inner-dropdown-items__item--selected p svg {
  min-width: $_12px;
}

.inner-dropdown-items-uni__item__icon,
.inner-dropdown-items-programm__item__icon {
  // display: none;
  min-width: $_12px;
}

.dropdown-show-check-icon path {
  fill: $secondary-color;
}

.section-heading__right {
  display: none;
}

.left__text-headings {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // max-width: 18.6875rem;
  // margin: 0 auto;
}

.text-headings__secondary {
  padding-top: 1.875rem;
}

.input-style-primary {
  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2.6875rem;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: $_12px;
  padding-top: $_8px;
  padding-bottom: $_8px;
  padding-left: $_15px;
  padding-right: $_15px;
  border-radius: 0.3125rem;
  box-shadow: none;
  border: $_1px solid transparent;
  background-color: #eee;
  position: relative;

  // @include easeOut;

  &:focus {
    outline: none !important;
    border: $_1px solid $secondary-color;
    box-shadow: none;
  }

  // &::after{
  //   content: '\f078';
  //   color: #000;
  //   background: blue;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.input-style-select-primary {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2.6875rem;
  color: $menu-items-colors;
}

.container-input-phone-number__input {
  margin-top: $_11px;

  &:focus {
    color: $secondary-color;
    background-color: #fff;
  }
}

.left__call-to-action {
  padding-top: 1.25rem;
  // max-width: 19.0625rem;
  // margin: 0 auto;
}

.arrow-pointer__left {
  display: none;
}

.btn-group__limited {
  font-size: 0.75rem;
  padding-bottom: 0.3125rem;
}

.call-to-action__discount {
  padding-top: 1.125rem;
  @include d-flex;
  max-width: 100%;
}

.discount__text-container {
  font-size: 0.875rem;
  padding-left: 1.13375rem;
}

.app--is-sumbitted {
  display: none;
  &.showed {
    display: block;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    min-height: 100%;
    min-width: 100%;
    @include d-flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: #fff;
    animation-name: smoothlyAppear;
    animation-duration: 0.3s;
    @keyframes smoothlyAppear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  &.removing {
    animation-name: smoothlyLeave;
    animation-duration: 0.3s;
    @keyframes smoothlyLeave {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    opacity: 0;
  }
}
