html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // font-size: $root-font-size;
  font-size: 16px;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);
}

body {
  background-color: #fff;
  color: set-text-color($primary-color);
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.dark-overlay {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 97;
    background: rgba(0, 0, 0, 0.4);
  }
}

main {
  min-height: 100%;
  // padding-bottom: 7.1875rem;
  // margin-top: 5.375rem;
  display: flex;
  flex-direction: column;
}

.section__title > * {
  text-align: center;
}

.section-steps__title{
  text-align: center;
}

section{
  position: relative;
}

.hr-between-sections {
  // border: 0;
  max-width: 50%;
  width: 143.5px;
  margin: 73px auto;
  border-bottom: 0.0625rem solid $secondary-color;
}

.bg-danger,
.container-input-phone-number__input.bg-danger {
  background-color: $dager-color-dimmer;
}

.circles-mobile {
  position: absolute;
  min-width: 100%;
  min-height: 27.75rem;
  right: 0;
  top: 0;
  z-index: -1;
  & svg {
    position: absolute;
    right: 0;
  }
  & svg:nth-child(1) {
    top: 8.1875rem;
  }
  & svg:nth-child(2) {
    top: 5.9375rem;
  }
  & svg:nth-child(3) {
    top: 2.5rem;
  }
  & svg:nth-child(4) {
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  // Popup form
  .module-popup-form {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    & .p {
      text-align: center;
    }
    &.show {
      display: flex;
    }
    & .contact-form {
      position: absolute;
      bottom: 0;
      background-color: #fff;
      padding: $_19px $_32px;
      // min-width: 427px;
      // max-width: 33%;
      width: 100%;
      border-radius: 10px;
      & .contact-form__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: $secondary-color;
        margin-bottom: $_15px;
      }
      & .contact-form__subtilte {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 16px;
      }
      & input{
        margin-bottom: 9px;
        &:nth-last-child(1){
          margin-bottom: 0;
        }
      }
      & .btn-input{
        max-height: 43px;
      }
    }
  }
}



@include mediaMd {
// Popup form
.module-popup-form {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  & .p {
    text-align: center;
  }
  &.show {
    display: flex;
  }
  & .contact-form {
    background-color: #fff;
    padding: 69px;
    min-width: 427px;
    width: 427px;
    // max-width: 33%;
    border-radius: 10px;
    & .contact-form__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 19px;
      color: $secondary-color;
      text-align: center;
      margin-bottom: $_15px;
    }
    & .contact-form__subtilte {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
}

.contact-form{
  position: relative;
}
.close-popup-icon{
  position: absolute;
  top: .2rem;
  right: .2rem;
  cursor: pointer;
}

@media only screen and (max-height: 610px) {
  .module-popup-form .contact-form__subtilte{
    display: none;
  }
}