// Section module ask questions

.module-questions {
  // padding: 1.8125rem;
  min-width: 100%;
  max-width: 100%;
  // height: 100vh;
  max-height: 226px;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  // opacity: 0;
  animation-name: smoothlyAppearModule;
  animation-duration: 0.8s;
  // animation-delay: 0.2s;
  animation-fill-mode: forwards;
  @keyframes smoothlyAppearModule {
    0% {
      height: 0;
    }
    40% {
      height: 0;
    }
    100% {
      height: 226px;
    }
  }
}

.module-questions__step {
  @include d-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 14.125rem;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;

  // animation-name: questionModuleSwipe;
  // animation-duration: 0.5s;
  // // animation-delay: 0.2s;
  // animation-fill-mode: forwards;
  // @keyframes questionModuleSwipe {
  //   0% {
  //     transform: translateX(100%);
  //   }
  //   100% {
  //     transform: translateX(0);
  //   }
  // }

  &.hidden {
    display: none;
  }
}

// .module-questions__step-success {
//   display: none;
//   &.showed {
//     @include d-flex;
//     flex-direction: column;
//     align-items: center;
//     position: relative;
//     min-height: 14.125rem;
//     animation-name: smoothlyAppear;
//     animation-duration: 0.3s;
//     @keyframes smoothlyAppear {
//       from {
//         opacity: 0;
//       }
//       to {
//         opacity: 1;
//       }
//     }
//   }
//   &.removing {
//     animation-name: smoothlyLeave;
//     animation-duration: 0.3s;
//     @keyframes smoothlyLeave {
//       from {
//         opacity: 1;
//       }
//       to {
//         opacity: 0;
//       }
//     }
//     opacity: 0;
//   }
// }

.module-questions__step-one {
  padding-top: $_27px;
}

#module-questions__step-one {
  padding-left: 0;
  padding-right: 0;
}

.module-questions__step-two {
  // padding-top: $_27px;
  // z-index: 99;
}

// .module-questions__step-three {
//   padding-top: $_27px;
// }

.step-three-row__input-group {
  @include d-flex;
  flex-direction: column;
  // margin-top: 2.75rem;
}

.btn-horizontal-line {
  position: absolute;
  top: $_10px;
}

.step-one-row__input-ask-anything {
  width: 100%;
  height: 3.125rem;
  font-family: Roboto, sans-serif;
  font-size: $_14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.3125rem;

  &:focus {
    outline: none !important;
    border: $_1px solid $secondary-color;
    box-shadow: none;
  }

  &.bg-danger:focus {
    background-color: $dager-color-dimmer;
  }
}

.sm-icons {
  @include d-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sm-icons__link {
  @include d-flex;
  align-items: center;
  justify-content: center;
  min-width: 31.5%;
  max-width: 33.33%;
  min-height: 2.5625rem;
  max-height: 2.5625rem;
  margin-right: 0.25rem;
  margin-bottom: 0.3rem;
  border-radius: $_5px;
}

.sm-icons__link--telegram {
  background-color: $bg-color-telegram;
}

.sm-icons__link--whatsapp {
  background-color: $bg-color-whatsapp;
}

.sm-icons__link--viber {
  background-color: $bg-color-viber;
}

.sm-icons__link--vk {
  background-color: $bg-color-vk;
}

.sm-icons__link--phone {
  background-color: $bg-color-phone;
}

.sm-icons__link--email {
  background-color: $bg-color-email;
}

.step_two-row__step-row-title {
  @include d-flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-primary-color;
  height: 3.9375rem;
  position: relative;
  margin-bottom: 2.125rem;
  border-radius: 10px 10px 0px 0px;
}

// .step-two-row__step-two-row-title{

// }

.step-two-row__step-three-row-title {
  margin-bottom: $_21px;
}

.arrow-step-back {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}

.step-two-row__input-group {
  // width: 60%;
  @include d-flex;
  align-items: center;
  position: relative;
  // margin: 0 auto;
  margin-bottom: $_9px;
  cursor: pointer;
  & label{
    cursor: pointer;
  }
}

.square-radio-check {
  display: none;
  position: absolute;
  left: 0.59rem;
  top: 0.7rem;
}

.square-radio {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 2.6875rem;
  width: 2.6875rem;
  border: $_1px solid #000;
  margin: 0;
  margin-right: $_26px;

  &:checked {
    @include d-flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    box-shadow: 0;
    background-color: $secondary-color;
    color: #fff;
  }

  &:checked ~ .square-radio-check {
    display: block;
  }

  &:checked ~ label {
    color: $secondary-color;
  }

  & ~ label {
    min-width: 5.125rem;
  }
}

.input-group__input-phone-number {
  margin-top: $_11px;
  height: 2.6875rem;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: $_14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.3125rem;
  box-shadow: none;
  border: $_1px solid #000;

  &:focus {
    outline: none !important;
    border: $_1px solid $secondary-color;
    box-shadow: none;
  }
}

.step-success__step-success-row {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-success__step-success-row--full-screen {
  & svg {
    margin-bottom: $_31px;
  }
}

.step-success-row__p {
  margin-bottom: $_8px;
  text-align: center;
  &.mb-31 {
    margin-bottom: 1.9375rem;
  }
}

.success-check-icon {
  margin-top: 3.375rem;
  margin-bottom: $_17px;
}

@include mediaMd {
  .module-questions{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    min-width: 375px;
    // padding: 1rem;
    min-height: 242px;
    max-height: 100%;
    right: 2rem;
    left: initial;
    bottom: 0rem;
    & #module-questions__step-one{
      padding: 2rem;
    }
    & .module-questions__step-one{
      padding-top: 0;
    }
    .btn-horizontal-line{
      display: none;
    }
  }
}