// Section partners
.section-partners {
  padding-top: $sections-top-padding;
  background-color: $secondary-color--dim;
  padding-bottom: 4.375rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

.section__content {
  @include d-flex;
  flex: 0 50%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__img-wrapper {
  @include d-flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  // min-width: 139px;
  height: 90px;
  padding: $_5px;
  background-color: #fff;
  border-radius: $_5px;
  margin-bottom: $_17px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.04);
}

.img-wrapper__img {
  @include d-flex;
  justify-content: center;
  align-items: center;
  @include c-fff_bgr-norepeat_bgs-contain;
  width: 100%;
  // min-width: 129px;
  // max-width: 130px;
  // min-height: 70px;
  height: 100%;
  padding: 0.5rem;
  background-color: #fff;
  // border: $_1px solid #efefef;
  border-radius: $_5px;
  background-position: center;
}

.img-wrapper__img--trust-boost {
  @include c-fff_bgr-norepeat_bgs-contain;
  width: 9.375rem;
  height: 6.375rem;
}

.img__sinergy {
  @include c-fff_bgr-norepeat_bgs-contain;
  background-position: center;
  background-image: url('/assets/images/partners/sinergy.jpg');
  height: 18px;
  width: 85%;
}

.img__business-academy {
  @include c-fff_bgr-norepeat_bgs-contain;
  background-position: center;
  background-image: url('/assets/images/partners/business-academy.jpg');
  height: 30px;
  width: 85%;
}

.img__tambov {
  @include c-fff_bgr-norepeat_bgs-contain;
  background-position: center;
  background-image: url('/assets/images/partners/tambov.jpg');
  height: 35px;
  width: 85%;
}

.img__ipe {
  @include c-fff_bgr-norepeat_bgs-contain;
  background-position: center;
  background-image: url('/assets/images/partners/ipe.jpg');
  height: 32px;
  width: 85%;
}

.img__roc-hoy {
  @include c-fff_bgr-norepeat_bgs-contain;
  background-position: center;
  background-image: url('/assets/images/partners/roc-hoy.jpg');
  height: 45px;
  width: 85%;
}

@include mediaMd {
  .section__content {
    & .content__img-wrapper {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 5;
      }
      &:nth-child(5) {
        order: 3;
      }
      &:nth-child(6) {
        order: 6;
      }
      & .img-wrapper__img {
        position: relative;
        & .img__promo {
          position: absolute;
          padding: 0.5rem 1rem;
          top: $_9px;
          right: $_10px;
          background-color: $color-info;
          border-radius: 5px;
        }
      }
    }
  }
  .section-partners {
    & .title__p {
      font-weight: 300;
      font-size: 25px;
      line-height: 29px;
      padding-bottom: 46px;
    }
  }
}

// .section-partners{
//   & .title__p{
//     padding-bottom: 46px;
//   }
// }
