// Section cards
.section-cards {
  background-color: $section-bg-primary-color;
  padding-top: $sections-padding--half;
}

.section-cards__cards {
  margin-top: 1.875rem;
  @include d-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-wrapper__underline {
  border-radius: 0.3125rem;
  width: 5rem;
  height: 0.3125rem;
  margin-top: 0.75rem;
  background-color: $secondary-color;
}

.cards__card {
  flex: 1 0 30%;
  // margin: 0.3125rem;
  margin: calc(1vw + 0.3125rem);
  width: 100%;
  max-width: 337px;
  min-height: 409px;
  height: 100%;
  box-shadow: 0 0 0.9357rem 0.625rem rgba(0, 0, 0, 0.05);
  border-radius: $card-border-radius;
  background-color: #fff;
}

.card__img {
  background-color: $secondary-color;
  background-image: url("/assets/images/card-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10.875rem;
  width: 100%;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(
      $secondary-color-r,
      $secondary-color-g,
      $secondary-color-b,
      $background-opacity
    );
    height: 100%;
    width: 100%;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}

.card__img--construction {
  background-image: url("/assets/images/learning_programs/construction.jpg");
}

.card__img--electrical {
  background-image: url("/assets/images/learning_programs/electrical_equipment_and_facilities.jpg");
}

.card__img--heat_engineering {
  background-image: url("/assets/images/learning_programs/heat_engineering.jpg");
}

.card__img--business_managment {
  background-image: url("/assets/images/learning_programs/small_business_managment.jpg");
}

.card__img--mining {
  background-image: url("/assets/images/learning_programs/mining_economics.jpg");
}

.card__img--economic_security {
  background-image: url("/assets/images/learning_programs/economic_security.jpg");
}

.card__card-content {
  @include d-flex;
  flex-direction: column;
  max-height: 14.6875rem;
  margin-top: 2.25rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.card-content__card-content-row {
  @include d-flex;
  align-items: center;
}

.card-content-row__content-row-tag {
  padding: 0.375rem;
  width: 6rem;
  border-radius: 1.46875rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: center;
  background-color: $tertiary-color;
  color: set-text-color($tertiary-color);
}

.card-content-row__content-row-time {
  @include d-flex;
  margin-left: 0.9375rem;
}

.content-row-time__text {
  color: $tertiary-color;
  margin-left: 0.1875rem;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}

.card-content-row__title {
  padding-top: 0.75rem;
  min-height: 2.75rem;
}

.card-content-row__btn {
  width: 100%;
}
