@media only screen and (max-width: 768px) {
  .section-price-info{
    padding: 70px 0 70px 0;
    & h2{
      margin-bottom: $_39px;
      padding: 0;
    }
    & .section__content{
      
      & .content__card{
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        padding: $_25px;
        & .card__bg-icon{
          position: absolute;
          top: 0;
          right: 0;
          & svg{
            max-width: 60px;
            max-height: 58px;
          }
        }
        & .card__title{
          margin-bottom: $_21px;
        }
        & .card__subtitle--info{
          font-weight: 300;
        }
        & .card__subtitle{
          display: flex;
          margin-bottom: $_19px;
          font-weight: 300;
          & .subtitle__number{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            color: #fff;
            border-radius: 50%;
            font-weight: 700;
            font-size: 1rem;
            min-width: 30px;
            height: 30px;
            margin-right: 26px;
          }
        }
      }
    }
  }
}

@include mediaMd {
  .section-price-info{
    background-color: $secondary-color--dim;
    & .section__content{
      & .content__card{
        height: initial;
        & .card__title{
          margin-bottom: 47px;
        }
        & .card__subtitle{
          display: flex;
          margin-bottom: $_19px;
          font-weight: 300;
          font-size: 25px;
          line-height: 29px;
          & .subtitle__number{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            color: #fff;
            border-radius: 50%;
            font-weight: 700;
            font-size: 1rem;
            min-width: 30px;
            height: 30px;
            margin-right: 26px;
          }
        }
        & .card__subtitle--info{
          margin-top: 42px;
          font-weight: 300;
          font-size: 25px;
          line-height: 29px;
        }
      }
    }
    & .section__waves--bottom{
      bottom: -90px;
    }
  }
}
