.section-choose-from-many {
  padding-top: $sections-top-padding;
  padding-bottom: $sections-bottom-padding;

  & .section__content {
    & .content__icon {
      // & img {
      //   max-width: 100%;
      //   width: 189px;
      //   height: auto;
      // }
    }
  }
  & .section__content > * {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  & p {
    text-align: center;
  }
  & .content__btn {
    & p {
      margin-bottom: $_15px;
    }
  }
}

@include mediaMd {
  .section-choose-from-many {
    & .section__content {
      clear: both;
      display: grid;
      gap: 0 109px;
      grid-template-areas: 'icon text' 'icon btn';
      & .content__icon {
        grid-area: icon;
        display: flex;
        justify-content: center;
        align-items: center;
        // & img.desktop-only {
        //   width: 100%;
        //   min-width: 200px;
        //   height: auto;
        // }
      }
      & .content__text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        & p {
          text-align: left;
          font-size: 25px;
          line-height: 29px;
        }
      }
      & .content__btn {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-area: btn;
        & p {
          text-align: left;
          font-weight: bold;
          font-size: 25px;
          line-height: 29px;
        }
      }
    }
  }
}
