.section-what-to-do {
  &.kz-uz-only,
  &.ru-only {
    display: none;
    &.show {
      display: block;
    }
  }
  & .section__content {
    display: flex;
    flex-direction: column;
  }
  & .section__title {
    & h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }
  & .content__icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
    // & img{
    //   width: 100%;
    //   max-width: 173px;
    //   height: auto;
    // }
  }
}

@include mediaMd {
  .section-what-to-do {
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;

    & .section__content {
      display: grid;
      gap: 0 66px;
      grid-template-areas: 'icon title' 'icon btn';
      grid-template-columns: 1fr;
      & .content__icon {
        grid-area: icon;
        margin: 0;
        // & img.desktop-only {
        //   width: 100%;
        //   // max-width: 40vw;
        //   max-width: 411px;
        //   min-width: 350px;
        //   height: auto;
        //   margin-left: auto;
        // }
      }
      & .content__title {
        grid-area: title;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: $_34px;
        & h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 42px;
        }
      }
      & .content__btn {
        grid-area: btn;
      }
    }
  }
}
