@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

@import 'reset';
@import 'config';
@import 'animations';
@import 'mixin';
@import 'utility';
@import 'general';
@import 'menu';
@import 'header';
@import 'waves';
@import 'heading_section';
@import 'section_testimonials';
@import 'section_about';
@import 'section_partners';
@import 'section-choose-from-many';
@import 'section_how-it-works';
@import 'section_edu-levels';
@import 'section_price-info';
@import 'section-needed-docs';
@import 'section-what-to-do';
// @import "section_sm";
// @import "section_cards";
@import 'section_ask-question';
@import 'section_are-there-questions';
@import 'section-trust-boost';
@import 'module_questions';
@import 'buttons';

.section__learn-more {
  display: none;
}

// .section-needed-docs {
//   display: none;
// }

.step-success-row__back-to-main {
  border: $_1px solid $secondary-color;
  color: $secondary-color;
  padding: $_12px;
  font-size: $_14px;
  max-width: 12.375rem;
}

// IOS support to prevent it from zooming when User clicks on the inputs

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #fff;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@import 'mobile';
