// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

@media only screen and (min-width: 538px) {
  .testimonials__testimonial {
    // padding-top: 1.9375rem;
    // font-size: 0.6875rem;
    // line-height: 0.8125rem;
    margin-right: 1.8125rem;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-top: 0;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0;
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }

  .desktop-only-initial {
    display: initial;
  }

  .menu__menu-mobile {
    visibility: hidden;
    display: none;
  }

  .menu-mobile__toggler {
    visibility: hidden;
  }

  .menu-mobile__hamburder {
    visibility: hidden;
  }

  .area-outside-of-menu {
    visibility: hidden;
  }

  .area-at-the-right-edge {
    visibility: hidden;
  }

  .menu-mobile__menu-panel {
    visibility: hidden;
  }

  .text-highlight--uppercase--desktop {
    text-transform: uppercase;
  }

  .text-highlight--bold-mobile {
    font-weight: inherit;
  }

  .menu__menu-items-container {
    display: block;
    width: 100%;
  }

  .header-wrapper {
    align-items: initial;
    flex-direction: column;
  }

  .header-wrapper__header-items {
    display: flex;
    justify-content: space-between;
  }

  .menu-items-container__menu-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .menu-items__menu-item {
    margin-right: 4.791875rem;
    padding-top: 1.0625rem;
    border-top: 0.3125rem solid transparent;
    // color: $secondary-color;
    @include easeOut;
    &:hover,
    &:active {
      border-top: 0.3125rem solid $secondary-color;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  // .menu-items__menu-item--highlight {
  //   border-top: 0.3125rem solid $secondary-color;
  // }

  header {
    // padding-bottom: $_20px;
    padding-bottom: 0;
  }

  // main {
  //     margin-top: 9.28125rem;
  // }

  .circles-mobile {
    display: none;
  }

  .container {
    // padding-left: 3.1875rem;
    // padding-right: 3.1875rem;
    // margin-left: 1.5rem;
    // margin-right: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: auto;
  }

  .container-flex {
    justify-content: space-between;
  }

  .container-flex--row {
    flex-direction: row;
  }

  .h1 {
    font-size: 2.4375rem;
    line-height: 2.875rem;
  }

  .h5 {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .header-wrapper__menu__line {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 1.25rem;
  }

  .menu-item__link {
    // color: $menu-items-colors;
    color: $secondary-color;
  }

  .header-items__item-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .item-group-container__row-wrapper {
    display: flex;
    margin-bottom: 0.96875rem;
  }

  .row-wrapper__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
  }

  .row-wrapper__sm-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row-wrapper__text {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__left {
    & .row-wrapper__text {
      & p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  .row-wrapper__text--bigger {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  .big-number {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    & p {
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 902px) {
    .big-number {
      font-size: 2.3vw;
    }
  }

  .section-heading {
    min-height: 39.029375rem;
    padding-top: 2rem;
    margin-top: 8.9375rem;
  }

  .section-heading__left {
    align-items: start;
  }

  .left__call-to-action {
    // max-width: 90%;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 1.8125rem;
  }

  .rectangle-gradient-maker {
    display: none;
  }

  .text-headings__secondary {
    padding-top: 1.5625rem;
  }

  .call-to-action__discount {
    padding-left: 3rem;
  }

  .arrow-pointer__arrow-up {
    display: none;
  }

  .arrow-pointer__left {
    display: block;
  }

  .left__text-headings {
    margin: 0;
    justify-content: start;
    align-items: start;
    max-width: 39.0625rem;
  }

  .container-input {
    max-width: 19.0625rem;
  }

  .call-to-action__btn-group {
    display: flex;
    flex-direction: column;
  }

  .btn-group__limited {
    padding-bottom: 0;
    padding-top: 0.625rem;
  }

  .btn-group__limited .text-highlight--bold {
    font-weight: 500;
  }

  .btn-group__btn {
    order: -1;
  }

  .section-heading__right {
    display: block;
  }

  .img__img-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .img-container__circles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16.32rem;
    left: 2.25rem;
  }

  .circles__circle {
    position: absolute;
    z-index: -1;
  }
  .circles__circle--line {
    position: absolute;
    z-index: -2;
  }

  .rectangle-gradient-maker-desktop {
    position: absolute;
    top: 27rem;
    left: 0;
    height: 374px;
    width: 100%;
    background: linear-gradient(
      180deg,
      #ffffff 25.45%,
      rgba(255, 255, 255, 0) 125.29%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;
  }

  .img-container__person {
    width: 25.3125rem;
    min-height: 527px;
    background-image: url(../img/person-smiling_compressed.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: auto;
  }

  .section-testimonials {
    padding-top: 7.625rem;
    padding-bottom: 0;
  }

  .section-testimonials__testimonials {
    max-width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .testimonials__testimonial {
    min-width: 26%;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-top: 0;
    margin-right: 0;

    &:nth-child(1) {
      order: 5;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 1;
      padding-bottom: 3rem;
    }

    &:nth-child(4) {
      order: 6;
    }

    &:nth-child(5) {
      order: 2;
      padding-bottom: 3rem;
    }

    &:nth-child(6) {
      order: 3;
      padding-bottom: 3rem;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .testimonial__icon {
    height: 100%;
    text-align: left;
    margin-bottom: 3rem;
  }

  .testimonial__title {
    text-align: left;
    padding-top: 0;
  }

  .testimonial__text-container {
    text-align: left;
    min-height: 6rem;
  }

  .inserted-text-1 {
    &::before {
      content: ', зачисляем круглый год!';
    }
  }

  .testimonial__icon svg {
    width: 5.09rem;
    height: 4.75rem;
  }

  .icon__checked-list {
    width: 5.09rem;
    height: 4.75rem;
  }

  .section-about {
    // padding-left: 3.1875rem;
    // padding-right: 3.1875rem;
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container--desktop-about {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // margin-left: 3.1875rem;
    // margin-right: 3.1875rem;
    background-color: $secondary-color;
    box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.1);
    border-radius: $_10px;
    color: #fff;
    & .text-highlight--color {
      color: #fff;
    }
    display: flex;
    align-items: center;
    // justify-content: center;
    // align-items: center;
    min-height: 20.9375rem;
    max-width: 1137px;
    & .section__title {
      display: none;
    }
    & .section__content {
      flex: auto;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      max-width: 100%;
      position: relative;
    }
  }

  .content__info {
    &.h1--padding-bottom {
      padding-bottom: 0;
    }
    width: 28.3125rem;
    max-width: 45%;
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 29px;
      & .text-highlight--fw-400 {
        font-weight: 300;
      }
    }
  }

  .content__showing-off-numbers {
    width: 28.3125rem;
    justify-content: space-around;
    max-width: 45%;
    & .showing-off-numbers__showing-off-number:nth-child(1) {
      order: 1;
    }
  }

  .showing-off-numbers__showing-off-number {
    &:nth-child(1) {
      margin-right: 0;
    }
    &:nth-child(2) {
      margin-right: 2rem;
    }
  }

  .showing-off-number__number {
    p {
      font-style: normal;
      font-weight: 900;
      font-size: 100px;
      line-height: 117px;
      text-align: center;
    }
  }

  .showing-off-number__line {
    background-color: #fff;
  }

  .showing-off-number__description {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .section-how-it-works {
    padding-top: 2rem;
    // padding-bottom: 4rem;
  }

  .content__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .steps__step {
    display: flex;
    flex-direction: column;
    // height: 176px;
    width: 30vw;
    max-width: 363px;
    position: relative;
    margin-bottom: 100px;
    padding-left: 4%;
    padding-top: 4rem;
    &:nth-child(odd) {
      margin-right: 15%;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .step__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .step__title {
    margin-bottom: $_8px;
    & p {
      font-size: 25px;
      line-height: 29px;
    }
  }

  .step__text {
    & p {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .section-edu-levels {
    padding-bottom: 8.75rem;
    padding-top: 8.75rem;
    & .section__content {
      padding-top: 3rem;
    }
  }

  .content__line-segment {
    width: 100%;
  }

  .line-segment__line-items {
    display: flex;
    justify-content: space-between;
  }

  .line-items__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    & svg {
      position: absolute;
      transform: translateY(-120%);
    }
  }

  .line-segment__line {
    border: 1px solid #2874ff;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 6rem;
  }

  .section-partners {
    padding-bottom: 6.0625rem;
  }

  .section-needed-docs {
    display: block;
    background-color: $secondary-color;
    height: 43.625rem;

    & .container {
      position: relative;
      padding-top: 14.375rem;
    }
  }

  .section-price-info {
    padding-top: 8.75rem;
    height: 100%;
    padding-bottom: 8.75rem;
  }

  .section__learn-more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11.625rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: $secondary-color;
    position: absolute;
    width: calc(100% - 48px);
    top: -6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .learn-more__learn-more-text {
    padding-right: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-basis: 2vb;
    // width: 530px;
    // max-width: 70%;
    // margin: 0 auto;
  }

  .learn-more-text__p {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    // font-size: 3vw;
    line-height: 37px;
    text-transform: uppercase;
    // max-width: 100%;
  }

  .section__section-steps {
    // display: flex;
  }

  .section-steps__steps {
    display: flex;
    justify-content: space-between;
  }

  .steps__steps-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 232px;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 2rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    & p {
      color: $secondary-color;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      margin-top: $_23px;
    }
  }

  .section-steps__title {
    & p {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: $_32px;
      line-height: $_37px;
      color: #fff;
      text-transform: uppercase;
    }
    padding-bottom: 4.25rem;
  }

  .section-ask-questions {
    display: none;
  }

  // .section-sm {
  //   display: none;
  // }

  .btn-primary {
    min-width: 19.0625rem;
    max-width: 19.0625rem;
  }

  .content__img-group {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .img-group__img-wrapper {
    flex: initial;
  }

  .img-wrapper__img {
    & svg {
      height: 80%;
      width: 60%;
    }
    border: 0;
  }

  .content__img-wrapper {
    height: 22vw;
    max-height: 240px;
    width: 30%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 3.25rem;
  }

  .content__card {
    position: relative;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    height: 15.375rem;
    padding: 4.5625rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.1875rem;
  }
  .card__bg-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .card__title {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 1rem;
  }
  .card__subtitle {
    font-size: 25px;
    line-height: 29px;
  }
  .card--primary {
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.1));
    // padding: 3.75rem;
    padding: 15%;

    &.bg-transparent {
      background-color: transparent;
    }
    max-width: 26.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card--contact {
    align-items: start;
    padding: 0;
    max-width: 100%;
  }

  .section-trust-boost {
    padding-top: 0;
    & .section__title {
      & .h1 {
        padding-bottom: 6.625rem;
      }
    }
    & .section__section-nav {
      display: none;
    }
    & .content__img-group:nth-child(2) {
      margin-top: 76px;
    }
  }

  .footer {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    & .header-items__item-group-container:nth-child(4) {
      background-color: #fff;
      color: #000;
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 1rem 13% 1rem 13%;
      margin-top: 1rem;
      margin-top: 30px;
    }
    & .header-items__item-group-container {
      margin-left: 0;
    }
  }

  .footer__right {
    max-width: 26.6875rem;
    width: 40vw;
  }

  .footer__left {
    max-width: 30.6875rem;
    width: 40vw;
    color: #fff;
    margin-right: 4%;
  }
  .contact-form {
    max-width: 100%;
    & .btn-primary {
      max-width: 100%;
      min-width: auto;
    }
    & input {
      font-weight: 300;
      font-size: 19px;
      line-height: 22px;
      padding: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .module-popup-form {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    &.show {
      display: flex;
    }
    & .contact-form {
      background-color: #fff;
      padding: 59px;
      min-width: 427px;
      max-width: 33%;
      border-radius: 10px;
      & .contact-form__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $secondary-color;
        text-align: center;
        margin-bottom: $_15px;
      }
      & .contact-form__subtilte {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .container {
    // padding-left: 3.1875rem;
    // padding-right: 3.1875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

// Smartphones
@include mediaSm {
}

@include orientLand {
}

@media only screen and (max-width: 364px) {
  .section-testimonials__testimonials {
    justify-content: space-between;
  }

  .testimonials__testimonial {
    margin-right: 0;
    padding-top: 1.9375rem;
    width: 8rem;
    max-width: 47%;

    &:nth-child(odd) {
      margin-right: 0.5rem;
    }

    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 1.9375rem;
    }
  }

  .number-wrapper__number {
    font-size: 1.25rem;
  }

  .side-panel-nav {
    font-size: 1rem;
  }

  .img-wrapper__img--trust-boost {
    width: 6.375rem;
    height: 6.375rem;
  }

  .content__img-wrapper {
    width: 44%;
    margin-right: $_10px;
  }

  .img-wrapper__img {
    min-width: 40%;
  }
}
